<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alkes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alkes">
        <activity
            android:name=".NextPaymentPageActivity"
            android:exported="false" />
        <activity
            android:name=".DetailOrderActivity"
            android:exported="false" />
        <activity
            android:name=".MenuOrderActivity"
            android:exported="false" />
        <activity
            android:name=".TeknisiChatPageActivity"
            android:exported="false" />
        <activity
            android:name=".RuteLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ChoosePaymentMethodPageActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentPageActivity"
            android:exported="false" />
        <activity
            android:name=".ServiceUploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".SetLocationActivity"
            android:exported="false" />
        <activity
            android:name=".KategoriPageActivity"
            android:exported="true" />
        <activity
            android:name=".LoginServicePageActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SuksesPinPageActivity"
            android:exported="true" />
        <activity
            android:name=".LoginPageActivity"
            android:exported="true" />
        <activity
            android:name=".ForgetPinPageActivity"
            android:exported="true" />
        <activity
            android:name=".EntryPinPageActivity"
            android:exported="true" />
        <activity
            android:name=".NewPinPageActivity"
            android:exported="true" />
        <activity
            android:name=".LoginHomePageActivity"
            android:exported="true" />
        <activity
            android:name=".RequestOtpActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterPageActivity"
            android:exported="true" />
        <activity
            android:name=".EntryNumberPageActivity"
            android:exported="true" />
        <activity
            android:name=".HomeServiceActivity"
            android:exported="true" />
        <activity
            android:name=".IntroPageActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>